@use '../util/variables' as v;

footer {
    /* Layout */
    height: 20rem;
    margin: 20rem 5rem 10rem;
    padding: 0 5rem;

    /* General Typography */
    color: white;
}

/* Upper Footer
------------------------------------------------------*/
.upper-footer {
    /* Main Grid Layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'sitemap companytitle'
        'connect companyinfo';
    grid-gap: 2rem 40rem;

    /* Layout */
    padding: 2.5rem 0;

    /* Design */
    border-top: 1px solid rgba(255, 255, 255, 0.35);

    /* Typography */
    font-family: 'Fredoka', sans-serif;
    color: white;

    /* Logo Typography */
    h4 {
        /* Layout */
        margin-bottom: 0;

        /* Typography */
        font-size: 3.5rem;
    }

    /* Four Main Grid Sections 
    -------------------------*/
    .company-title,
    .company-info {
        /* Right Section Typography */
        text-align: right;
        line-height: 1.3;
    }
    .company-title {
        /* Grid Area Label*/
        grid-area: companytitle;
    }
    .company-info {
        /* Grid Area Label*/
        grid-area: companyinfo;
    }
    .sitemap {
        /* Grid Area Label*/
        grid-area: sitemap;

        /* Upper Left Subgrid Layout */
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        grid-gap: 1rem;

        span {
            /* Typography */
            font-size: 2rem;
        }

        .footer-nav {
            /* Layout */
            display: flex;
            flex-direction: row;

            .footer-nav-link {
                /* Layout */
                margin: 0 1rem;

                /* Typography */
                color: white;
                font-size: 2rem;
                text-decoration: none;

                &:hover {
                    /* Typography */
                    color: v.$highlighterYellow;
                }
            }

            /* Layout */
            & > li:first-of-type {
                a {
                    margin-left: 0;
                }
            }
        }
    }
    .connect {
        /* Grid Area Label*/
        grid-area: connect;

        /* Lower Left Subgrid Layout */
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        grid-gap: 1rem;

        .nav-row2 {
            /* Layout */
            margin-top: 0;

            a {
                /* Typography */
                font-size: 3rem;
            }
        }
    }
}

/* Lower Footer
------------------------------------------------------*/
.lower-footer {
    /*Layout*/
    margin: 0 auto;
    padding: 2rem 0 5rem;

    /* Design */
    border-top: 1px solid rgba(255, 255, 255, 0.35);

    /* Typography */
    font-family: 'Fredoka', sans-serif;
    color: white;

    span {
        font-size: 1.8rem;
    }
}

.blockspan {
    display: block;
    font-size: 2rem;
}

.lightgrey {
    color: grey;
}
.candyBlue {
    color: v.$candyBlue;
}
.highlighterYellow {
    color: rgba(v.$highlighterYellow, 0.8);
}
.lightgrey {
    color: rgb(170, 170, 170);
}
.candyRed {
    color: v.$candyRed;
}
.flex-span {
    margin: 0;
    display: flex;
}
