header {
    /* Layout */
    position: relative;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    margin: 3rem 4vw;
}
.logo-block {
    display: flex;
}
.logo-ghost {
    height: 13rem;
    width: auto;
    margin: 0 1rem 0 -4rem;
}
.logo {
    /* Layout */
    max-width: 5vw;

    /* Typography */
    color: white;
    font-size: 2.6vw;
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}
.logo + span {
    /* Layout */
    display: block;
    margin: 3vw 0.5vw 0;

    /* Typography */
    color: white;
    font-size: 1.4vw;
    font-family: 'Fredoka', sans-serif;
}
