header {
    /* Layout */
    position: relative;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    margin: 3rem 4vw;
}
.logo-block {
    display: flex;
}
.logo-ghost {
    height: 8vw;
    width: auto;
    margin: 0 1vw 0 -2vw;
}
.logo {
    /* Layout */
    max-width: 5vw;

    /* Typography */
    color: white;
    font-size: 2.6vw;
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}
.logo + span {
    /* Layout */
    display: block;
    margin: 3vw 0.5vw 0;

    /* Typography */
    color: white;
    font-size: 1.4vw;
    font-family: 'Fredoka', sans-serif;
}
.openingcall {
    /* Layout */
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    h2 {
        /* Layout */
        margin-bottom: 4rem;

        /* Typography */
        color: white;
        font-family: 'Fredoka', sans-serif;
        font-size: 4vw;
        line-height: 1;
    }
}
.blurb {
    /* Layout */
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;

    /* Typography */
    color: white;
    font-size: 1.4vw;
    font-family: 'Fredoka', sans-serif;
    line-height: 1.6;

    /* Design */
    background-color: black;

    &:first-of-type {
        margin-bottom: 2vw;
    }

    p {
        /* Typography */
        font-weight: 100;
        line-height: 2;

        &::first-letter {
            /* Large First Letter */
            font-size: 4rem;

            /* Fix Spacing from Larger Font */
            line-height: 0;
            letter-spacing: -0.75rem;
            margin-left: -0.8rem;
        }
    }
    .img-fill {
        /* Layout */
        height: 300px;

        /* Temp */
        background-color: rgba(128, 128, 128, 0.308);
        border: 1px solid red;
    }
}

.blurb-grid {
    /* Layout */
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;

    /* Typography */
    line-height: 2;
}
