@use '../../util/variables' as v;

.btn-block {
    /* Layout */
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: -1vw 0 1vw;
}
.close-btn {
    /* Typography */
    color: white;
    font-size: 1.4rem;

    &:hover {
        /* Typography */
        color: v.$candyRed;

        /* Design */
        border-color: v.$candyBlue;
    }
}

.contact-popup {
    /* Layout */
    width: clamp(50%, 700px, 80%);
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2vw 5vw;

    /* Design */
    border: 2px solid v.$candyBlue;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);

    /* Typography */
    font-family: 'Fredoka', sans-serif;
    line-height: 1.5;

    p {
        /* Layout */
        margin-bottom: 2.5vw;

        /* Typography */
        color: v.$candyRed;
        font-size: 1.6vw;
    }

    /* Form Grid Settings 
    ----------------------*/
    .radio-input-block1 {
        /* Row 2 */
        grid-area: radio1;
    }
    .text-description-block {
        /* Row 3 */
        grid-area: text2;
    }
    .submit-btn {
        /* Row 4 */
        grid-area: submit;
    }
    /*-------------------*/
    form {
        /* Layout */
        height: 100%;
        width: 80%;
        display: grid;
        grid-template-areas:
            '. . .'
            'radio1 radio1 radio1'
            'text2 text2 text2'
            'submit submit submit';
        grid-gap: 3vw 2vw;
    }
    .input-block {
        display: flex;
        flex-direction: column;
    }
    h3 {
        /* Typography */
        color: v.$candyBlue;
        font-size: 1.6vw;
    }
    label {
        /* Typography */
        color: v.$candyRed;
        font-size: 1.2vw;
    }
    span {
        /* Typography */
        color: v.$candyBlue;
        font-size: 1.2vw;
        padding-bottom: 0.5vw;
    }
    input {
        /* Layout */
        padding: 0.5vw 0 0.5vw 0.25vw;
        &[type='text'] {
            width: 100%;
        }

        /* Typography */
        color: v.$highlighterYellow;

        /* Design */
        background-color: black;
        border: 2px solid v.$candyRed;

        &::placeholder {
            color: v.$formGrey;
        }
    }

    /* Form Row 2
    ----------------------------------------------------*/
    .radio-input-block1 {
        /* Layout */
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .radio-section1 {
        /* Layout */
        display: flex;
        flex-direction: row;
    }
    .radio-block {
        /* Layout */
        margin: 0.25vw 1vw 0;

        /* Checked Option Color */
        input:checked ~ label {
            color: v.$highlighterYellow;
            font-weight: 400;
        }
    }

    /* Form Row 3
    ----------------------------------------------------*/
    .text-description-block {
        margin-top: -2vw;
    }
    .text-description {
        /* Layout */
        height: 5vw;
        max-height: 8vw;
        width: 100%;
        max-width: 31.5vw;

        display: flex;

        /* Layout */
        padding: 0.5vw 0 0.5vw 0.25vw;

        /* Typography */
        color: v.$highlighterYellow;

        /* Design */
        background-color: black;
        border: 2px solid v.$candyRed;

        &::placeholder {
            color: v.$formGrey;
        }
    }

    /* Form Row 4
    ----------------------------------------------------*/
    // .submit-block {
    //     /* Layout */
    //     height: 5rem;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    .submit-btn {
        /* Layout */
        margin: auto auto;

        /* Typography */
        color: white;
        font-size: 1.4rem;

        &:hover {
            /* Typography */
            color: v.$candyRed;

            /* Design */
            border-color: v.$candyBlue;
        }
    }
}
