@use '../../util/variables' as v;

.portfolio {
    width: 65%;
    margin: 0 auto;
}

/* Portfolio Header Styles
-------------------------------------------*/
.portfolio-header {
    /* Layout */
    position: relative;
    z-index: 502;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    /* Design */
    border-bottom: 3px solid v.$candyBlue;

    .portfolio-title {
        /* Typography */
        color: v.$candyRed;
        font-size: 3vw;
        font-family: Fredoka, serif;
    }

    span {
        /* Typography */
        color: v.$candyRed;
        font-size: 1.2vw;
        font-family: Fredoka, serif;
    }
}
