@use '../../scss/util/variables' as v;

.portfolio {
    .screen {
        width: 100%;
        height: 100%;
    }

    .container {
        max-width: 990px;
        flex: 1 1 100%;
        padding: 45px 25px;
    }
    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .card-list {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .card {
        position: relative;
        padding: 25px;
        height: 500px;
        flex: 0 0 40%;
        max-width: 40%;
    }

    .demolink {
        text-decoration: none;
    }

    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
        flex: 0 0 60%;
        max-width: 60%;
    }

    .card:nth-child(odd) {
        padding-left: 0;
    }

    .card:nth-child(even) {
        padding-right: 0;
    }

    .card-content-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        pointer-events: none;
    }

    .card-content {
        pointer-events: auto;
        position: relative;
        border-radius: 20px;
        background: #000000;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .card-image-container {
        border-radius: 20px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        height: 420px;
        width: 100%;
    }

    .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title-container {
        /* Fix to Bottom */
        position: absolute;
        bottom: 2.8rem;

        /* Layout */
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1vw 0;
        padding-left: 1vw;

        /* Design */
        background: rgba(0, 0, 0, 0.8) 99%;
        border-right: 2px solid rgba(v.$candyBlue, 0.8);
        border-bottom: 3px solid rgba(v.$candyBlue, 0.8);
        border-left: 2px solid rgba(v.$candyBlue, 0.8);
        border-radius: 0 0 20px 20px;

        h2 {
            color: v.$candyRed;
            font-size: 1.6rem;
            font-family: Fredoka, serif;
            margin: 8px 0;
        }
        span {
            color: v.$candyBlue;
            font-size: 2rem;
            font-family: Fredoka, serif;
        }
    }
    .category {
        text-transform: uppercase;
    }
    @media all and (max-width: 800px) {
        .card {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .card:nth-child(4n + 1),
        .card:nth-child(4n + 4) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media all and (max-width: 600px) {
        .card {
            flex: 1 0 100%;
            max-width: 100%;
            padding: 10px;
            padding-left: 0;
            padding-right: 0;
        }

        .card:nth-child(4n + 1),
        .card:nth-child(4n + 4) {
            flex: 1 0 100%;
            max-width: 100%;
        }
    }

    // media query mixin
    // constraints
    $min: min-width;
    $max: max-width;
    @mixin mq($constraint, $viewport1, $viewport2: null) {
        @if $constraint==$min {
            @media all and ($min: $viewport1) {
                @content;
            }
        } @else if $constraint==$max {
            @media all and ($max: $viewport1) {
                @content;
            }
        } @else {
            @media all and ($min: $viewport1) and ($max: $viewport2) {
                @content;
            }
        }
    }

    // end demo theme
    //colors
    $black: #000;
    .card-list {
        &__focus-curtain {
            background-color: $black;
            transition: opacity 0.25s ease-in-out;
            opacity: 0;
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            pointer-events: none;
            z-index: 2;
        }
        &-panel {
            &:hover {
                z-index: 501;
                transform: scale(1.1);
            }

            &--focus {
                position: relative;
                &:hover {
                    ~ .card-list__focus-curtain {
                        opacity: 0.8;
                        z-index: 500;
                    }
                }
            }
            @include mq(min-width, 768px) {
                page-break-inside: avoid;
                break-inside: avoid;
            }
        }

        @include mq(min-width, 768px) {
            column-count: 2;
        }
        @include mq(min-width, 992px) {
            column-count: 3;
        }
        @include mq(min-width, 1500px) {
            column-count: 4;
        }
    }
}
