@use '../../scss/util/variables' as v;

.subheader {
    /* Layout */
    width: 132rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    /* Typography */
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1rem;

    h2 {
        /* Typography */
        color: white;
        font-family: 'Dosis', sans-serif;
        font-size: 7.2rem;
        margin-bottom: 4rem;
    }
    h4 {
        /* Layout */
        padding: 0.5rem 1rem;
        margin: 0 auto;

        /* Typography */
        font-size: 5rem;
        font-weight: 900;
        -webkit-text-stroke: 1px white;
        //text-stroke: 1px white;
    }
    p {
        color: white;
        font-family: 'Dosis', sans-serif;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
        padding: 2.4rem 3.8rem;
    }
}
.subheader-optionblock {
    /* Layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 10rem;
    justify-content: center;
    margin: 2rem 0;
}

/* Darken Paragraph Background (readability) 
    Alternate Colored Borders
-------------------------------------------*/
.option1 > p {
    background: black; //radial-gradient(rgba(0, 0, 0, 0.5) 20%, black);
    border-top: 2px solid v.$candyRed;
    border-bottom: 2px solid v.$candyRed;
}
.option2 > p {
    background: black; //radial-gradient(rgba(0, 0, 0, 0.6) 20%, black);
    border-top: 2px solid v.$candyBlue;
    border-bottom: 2px solid v.$candyBlue;
}

/* Option Block Layout
-------------------------------------------*/
.option1,
.option2 {
    /* Layout */
    height: 43rem;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 0.5fr 1fr 1.5fr;
    justify-content: center;
    align-items: center;

    /* Design */
    border-radius: 15px;

    h4 {
        color: black;
        font-style: italic;
    }

    /* Slowed Zoom on Hover Animation */
    transition: transform 0.25s;
    &:hover {
        transform: scale(1.05);
    }

    button {
        /* Typography */
        font-size: 2rem;
    }

    /* Option 1 Link */
    a {
        text-decoration: none;
        font-size: 2rem;
        font-family: Fredoka, serif;
        font-weight: 400;
    }
}

/* Button Hover Design
-------------------------------------------*/
.option1 button:hover,
.option1 a:hover {
    color: v.$candyRed;
    border: 2px solid v.$candyRed;
}
.option2 button:hover {
    color: v.$candyBlue;
    border: 2px solid v.$candyBlue;
}

/* Center Buttons within Options gradients
-------------------------------------------*/
.option1-buttons,
.option2-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Option Block Background Designs
-------------------------------------------*/
.option1 {
    /* Design */
    background-image: linear-gradient(
            rgba(v.$candyBlue, 0.85) 1%,
            rgba(v.$darkBlue, 0.45) 35%
        ),
        url(../images/new-site-option.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.option2 {
    /* Design */
    background-image: linear-gradient(
            rgba(v.$candyRed, 0.95) 1%,
            rgba(v.$darkRed, 0.25) 35%
        ),
        url(../images/upgrade-site-option.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(v.$candyRed, 0.95);
}

/* Portfolio Link Design
-------------------------------------------*/
.option-footer {
    /* Layout */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 4rem;
}
.portfolio-link {
    /* Typography */
    font-size: 3.6rem;

    /* Link Design */
    a {
        cursor: pointer;
        font-weight: 900;
    }
}

/* Return Button (Post-UserChoice Render)
-------------------------------------------*/
.return-btn {
    /* Layout */
    width: 100%;
    height: max-content;
    text-align: right;
    margin-top: -6rem;
    padding-right: 7rem;

    button:hover {
        /* Typography */
        color: v.$candyRed;

        /* Design */
        border-color: v.$candyBlue;
    }
}

@media all and (max-width: 1550px) {
    .subheader {
        width: 100rem;

        .option1,
        .option2 {
            /* Layout */
            height: 38rem;

            a,
            button {
                font-size: 1.6rem;
            }
        }

        h2 {
            font-size: 5rem;
        }
        h4 {
            font-size: 3.6rem;
        }
        p {
            font-size: 2rem;
        }
    }
}

@media all and (max-width: 1150px) {
    .subheader {
        width: 85rem;

        .subheader-optionblock {
            grid-gap: 3rem 5rem;
        }

        .option1,
        .option2 {
            /* Layout */
            height: 28rem;
            grid-gap: 0;

            a,
            button {
                font-size: 1.4rem;
            }
        }

        h2 {
            font-size: 4.2rem;
        }
        h4 {
            font-size: 3.2rem;
        }
        p {
            padding: 1rem 3rem;
            font-size: 1.6rem;
        }
    }
    .portfolio-link {
        /* Typography */
        font-size: 3rem;
    }
    .option-footer {
        margin-top: 2rem;
    }
}

@media all and (max-width: 950px) {
    .subheader {
        width: 65rem;

        .subheader-optionblock {
            width: 40rem;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 4rem;
        }

        .option1,
        .option2 {
            /* Layout */
            height: 28rem;
            grid-gap: 0;

            a,
            button {
                font-size: 1.2rem;
            }
        }

        h2 {
            font-size: 3.6rem;
            margin-bottom: 2rem;
        }
        h4 {
            font-size: 3rem;
        }
        p {
            padding: 2rem 1rem;
            font-size: 1.6rem;
        }
    }
    .portfolio-link {
        /* Typography */
        font-size: 3rem;
    }
    .return-btn {
        margin-top: -4rem;
        padding-right: 2rem;
        button {
            font-size: 1.2rem;
        }
    }
}

@media all and (max-width: 700px) {
    .subheader {
        width: 50rem;
        margin: 0 auto;

        h2 {
            font-size: 2.8rem;
        }
        .portfolio-link {
            font-size: 2.8rem;
        }
    }
}

@media all and (max-width: 599px) {
    .return-btn {
        padding-right: 1.5rem;
        button {
            font-size: 1rem;
        }
    }
}

@media all and (max-width: 575px) {
    .subheader {
        width: 30rem;

        h2 {
            font-size: 2.4rem;
            margin-bottom: 0;
        }
        .portfolio-link {
            font-size: 2.4rem;
            margin-top: -12rem;
        }
        .subheader-optionblock {
            gap: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
        .option1,
        .option2 {
            scale: 0.8;
        }
        .option2 {
            margin-top: -4rem;
        }
    }
}
