@use './variables' as v;

/* Fade In */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    animation: fadeIn ease 3s;
}

/* Slide from Left to Right */
@keyframes slideInRight {
    from {
        transform: translate3d(-100%, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
.fadeInRight {
    animation: slideInRight ease 2s, fadeIn ease 3s;
}

/* Slide from Right to Left */
@keyframes slideInLeft {
    from {
        transform: translate3d(100%, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
.fadeInLeft {
    animation: slideInLeft ease 2s, fadeIn ease 3s;
}

/* Slide Up and Fade In */
@keyframes slideInUp {
    from {
        transform: translate3d(0, 105%, 0);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.slideInUp {
    animation: slideInUp ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes candyAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 152% 50%;
    }
}
.candy-animation {
    background: linear-gradient(
        60deg,
        v.$candyBlue 15%,
        v.$candyRed 25% 60%,
        v.$candyBlue 90%
    );
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    animation: candyAnimation 10s ease-in infinite;
}
