header {
    /* Layout */
    position: relative;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    margin: 3rem 7rem;
}
.logo-ghost {
    height: 13rem;
    width: auto;
    max-width: 32rem;
    margin: -1rem 1rem 0 -4rem;
}

@media all and (max-width: 950px) {
    header {
        margin: 3rem 2rem;
    }
    .logo-ghost {
        height: 8rem;
        margin: 0rem;
    }
}

@media all and (max-width: 599px) {
    header {
        align-items: center;
        margin: 2rem 0.5rem;
    }
    .logo-ghost {
        height: 6rem;
        margin: 0rem;
    }
}
