/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSTOM RESET STYLES 
-----------------------*/
html {
  /* REM Setting */
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  /* Layout */
  max-width: 100%;
  overflow-x: hidden;
  /* Design */
  background-color: black;
}

/* Fade In */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fadeIn ease 3s;
          animation: fadeIn ease 3s;
}

/* Slide from Left to Right */
@-webkit-keyframes slideInRight {
  from {
    transform: translate3d(-100%, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(-100%, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation: slideInRight ease 2s, fadeIn ease 3s;
          animation: slideInRight ease 2s, fadeIn ease 3s;
}

/* Slide from Right to Left */
@-webkit-keyframes slideInLeft {
  from {
    transform: translate3d(100%, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(100%, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.fadeInLeft {
  -webkit-animation: slideInLeft ease 2s, fadeIn ease 3s;
          animation: slideInLeft ease 2s, fadeIn ease 3s;
}

/* Slide Up and Fade In */
@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 105%, 0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 105%, 0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideInUp {
  -webkit-animation: slideInUp ease 3s;
          animation: slideInUp ease 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes candyAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 152% 50%;
  }
}

@keyframes candyAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 152% 50%;
  }
}
.candy-animation {
  background: linear-gradient(60deg, #4ac3d3 15%, #ec8282 25% 60%, #4ac3d3 90%);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  -webkit-animation: candyAnimation 5s ease-in infinite;
          animation: candyAnimation 5s ease-in infinite;
}

nav {
  /* Layout */
  display: flex;
  justify-content: flex-end;
}
nav ul {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}
nav a {
  /* Layout */
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  justify-content: right;
  padding: 1rem 0.5rem;
  /* Typography */
  color: white;
  font-size: 1.2vw;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  text-decoration: none;
  /* Design */
  /* On Hover Bouncing Links Fix */
  border-bottom: 1px solid white;
}
nav a:hover {
  /* Design */
  color: #ec8282;
  border-bottom: 1px solid #4ac3d3;
}

header {
  /* Layout */
  position: relative;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  margin: 3rem 4vw 8rem;
  /* Design */
  background-color: black;
}

.logo {
  /* Layout */
  max-width: 5vw;
  /* Typography */
  color: white;
  font-size: 2.6vw;
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}

.logo + span {
  /* Layout */
  display: block;
  margin: 3vw 0.5vw 0;
  /* Typography */
  color: white;
  font-size: 1.4vw;
  font-family: "Fredoka", sans-serif;
}

.openingcall {
  /* Layout */
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.openingcall h2 {
  /* Layout */
  margin-bottom: 4rem;
  /* Typography */
  color: white;
  font-family: "Fredoka", sans-serif;
  font-size: 4vw;
  line-height: 1;
}

.blurb {
  /* Layout */
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* Typography */
  color: white;
  font-size: 1.4vw;
  font-family: "Fredoka", sans-serif;
  line-height: 1.6;
  /* Design */
  background-color: black;
}
.blurb:first-of-type {
  margin-bottom: 2vw;
}
.blurb p {
  /* Typography */
  font-weight: 100;
  line-height: 2;
}
.blurb p::first-letter {
  /* Large First Letter */
  font-size: 4rem;
  /*
  Reverse Spacing from
  Larger Font
  */
  line-height: 0;
  letter-spacing: -0.75rem;
  margin-left: -0.8rem;
}
.blurb .img-fill {
  /* Layout */
  height: 300px;
  /* Temp */
  background-color: rgba(128, 128, 128, 0.308);
  border: 1px solid red;
}

.blurb-grid {
  /* Layout */
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;
  /* Typography */
  line-height: 2;
}

.candy-gradient {
  background: linear-gradient(60deg, #4ac3d3 35%, #ec8282 65%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.candy-blue {
  color: #4ac3d3;
  font-weight: 400;
}

.candy-red {
  color: #ec8282;
  font-weight: 400;
}

.candy-green {
  color: #48e05d;
  font-weight: 300;
}

.main-background-1 {
  width: 100vw;
  min-width: 1365px;
  height: auto;
  top: 30vh;
  z-index: -100;
}

.main-background-2 {
  width: 100vw;
  min-width: 1365px;
  height: auto;
  top: max(88vw, 1200px);
  z-index: -100;
}

.ghost-three {
  position: fixed;
  width: 100vw;
  min-width: 1365px;
  height: auto;
  top: max(750px, 65vw);
  transform: rotate(5deg);
}

@media all and (min-width: 1550px) {
  .main-background-2 {
    top: 85vw;
  }
}
@media all and (max-width: 1365px) {
  .main-background-1,
.main-background-2 {
    transform: translateX(calc(-20% + 20vw));
    min-width: 800px !important;
  }
}
@media all and (max-width: 780px) {
  .main-background-1,
.main-background-2 {
    transform: translateX(calc(-25% + 20vw));
    min-width: 800px !important;
  }
}
@media all and (max-width: 600px) {
  .main-background-1,
.main-background-2 {
    transform: translateX(calc(-42% + 20vw));
    min-width: 800px !important;
  }
}
@media all and (max-width: 450px) {
  .main-background-1,
.main-background-2 {
    transform: translateX(calc(-50% + 20vw));
    min-width: 800px !important;
  }
}/*# sourceMappingURL=globals.css.map */