/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSTOM RESET STYLES 
-----------------------*/
html {
  /* REM Setting */
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  /* Layout */
  max-width: 2000px;
  overflow-x: hidden;
  /* Design */
  background-color: black;
}

@media all and (min-width: 2000px) {
  body {
    margin: 0 auto;
  }
}
/* Color Variables
-------------------------------------------*/
/* Utility Classes
-------------------------------------------*/
/* General Component Styles */
.btn {
  /* Layout */
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  /* Design */
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  /* Typography */
  font-family: "Fredoka", sans-serif;
  color: white;
}

/* Strengthen Link Tag */
.strength {
  border-bottom: 3px solid white;
}
.strength:hover {
  border-color: #fdff81;
}

/* Text Highlighters 
-------------------------------------------*/
.candy-gradient {
  background: linear-gradient(60deg, rgb(74, 195, 211) 35%, rgb(236, 130, 130) 65%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.highlight {
  /* Typography */
  color: #fdff81;
  font-weight: 500;
}

.candy-blue {
  color: #00d8d8;
  font-weight: 400;
}

.candy-red {
  color: #ff8e8e;
  font-weight: 400;
}

/* Fade In */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fadeIn ease 3s;
          animation: fadeIn ease 3s;
}

/* Slide from Left to Right */
@-webkit-keyframes slideInRight {
  from {
    transform: translate3d(-100%, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(-100%, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation: slideInRight ease 2s, fadeIn ease 3s;
          animation: slideInRight ease 2s, fadeIn ease 3s;
}

/* Slide from Right to Left */
@-webkit-keyframes slideInLeft {
  from {
    transform: translate3d(100%, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(100%, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.fadeInLeft {
  -webkit-animation: slideInLeft ease 2s, fadeIn ease 3s;
          animation: slideInLeft ease 2s, fadeIn ease 3s;
}

/* Slide Up and Fade In */
@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 105%, 0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 105%, 0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideInUp {
  -webkit-animation: slideInUp ease 3s;
          animation: slideInUp ease 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes candyAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 152% 50%;
  }
}

@keyframes candyAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 152% 50%;
  }
}
.candy-animation {
  background: linear-gradient(60deg, #00d8d8 15%, #ff8e8e 25% 60%, #00d8d8 90%);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  -webkit-animation: candyAnimation 10s ease-in infinite;
          animation: candyAnimation 10s ease-in infinite;
}

header {
  /* Layout */
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  margin: 3rem 7rem;
}

.logo-block {
  display: flex;
}

.logo-ghost {
  height: 13rem;
  width: auto;
  max-width: 32rem;
  margin: -1rem 1rem 0 -4rem;
}

@media all and (max-width: 950px) {
  header {
    margin: 3rem 2rem;
  }
  .logo-ghost {
    height: 8rem;
    margin: 0rem;
  }
}
@media all and (max-width: 550px) {
  header {
    margin: 2rem 1rem;
  }
  .logo-ghost {
    height: 6rem;
    margin: 0rem;
  }
}
nav {
  /* Layout */
  max-width: 428px !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.nav-row1 {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav-row1 a {
  /* Layout */
  width: 100%;
  display: block;
  justify-content: right;
  padding: 1rem 0 0.5rem;
  /* Typography */
  color: white;
  font-size: 2.2rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  text-decoration: none;
  /* Fix Bouncing Links on Hover */
  border-bottom: 2px solid white;
}
.nav-row1 a:nth-of-type(1) {
  padding-right: 2rem;
}
.nav-row1 a:hover {
  /* Design */
  color: #ff8e8e;
  border-bottom: 2px solid #00d8d8;
}

.nav-row2 {
  /* Layout */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0;
}
.nav-row2 ul {
  display: flex;
  justify-content: space-between;
}
.nav-row2 .social-icon {
  /* Layout */
  max-width: 50px;
  /* Typography */
  color: white;
  font-size: 3.6rem;
  font-weight: 500;
  text-decoration: none;
  padding-right: 1.4rem;
}
.nav-row2 .social-icon:hover {
  color: #fdff81;
}
.nav-row2 .quote-btn {
  /* Layout */
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  /* Typography */
  color: white;
  font-size: 1.6rem;
}
.nav-row2 .quote-btn:hover {
  /* Typography */
  color: #ff8e8e;
  /* Design */
  border-color: #00d8d8;
}

@media all and (max-width: 950px) {
  .nav-row1 a {
    padding-top: 0;
    font-size: 1.6rem;
  }
  .nav-row2 .social-icon {
    font-size: 2.8rem;
  }
  .nav-row2 .quote-btn {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 575px) {
  nav {
    display: none;
  }
}
.subheader {
  /* Layout */
  width: 132rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* Typography */
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}
.subheader h2 {
  /* Typography */
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 7.2rem;
  margin-bottom: 4rem;
}
.subheader h4 {
  /* Layout */
  padding: 0.5rem 1rem;
  margin: 0 auto;
  /* Typography */
  font-size: 5rem;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
}
.subheader p {
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 2.4rem 3.8rem;
}

.subheader-optionblock {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem 10rem;
  justify-content: center;
  margin: 2rem 0;
}

/* Darken Paragraph Background (readability) 
    Alternate Colored Borders
-------------------------------------------*/
.option1 > p {
  background: black;
  border-top: 2px solid #ff8e8e;
  border-bottom: 2px solid #ff8e8e;
}

.option2 > p {
  background: black;
  border-top: 2px solid #00d8d8;
  border-bottom: 2px solid #00d8d8;
}

/* Option Block Layout
-------------------------------------------*/
.option1,
.option2 {
  /* Layout */
  height: 43rem;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 0.5fr 1fr 1.5fr;
  justify-content: center;
  align-items: center;
  /* Design */
  border-radius: 15px;
  /* Slowed Zoom on Hover Animation */
  transition: transform 0.25s;
  /* Option 1 Link */
}
.option1 h4,
.option2 h4 {
  color: black;
  font-style: italic;
}
.option1:hover,
.option2:hover {
  transform: scale(1.05);
}
.option1 button,
.option2 button {
  /* Typography */
  font-size: 2rem;
}
.option1 a,
.option2 a {
  text-decoration: none;
  font-size: 2rem;
  font-family: Fredoka, serif;
  font-weight: 400;
}

/* Button Hover Design
-------------------------------------------*/
.option1 button:hover,
.option1 a:hover {
  color: #ff8e8e;
  border: 2px solid #ff8e8e;
}

.option2 button:hover {
  color: #00d8d8;
  border: 2px solid #00d8d8;
}

/* Center Buttons within Options gradients
-------------------------------------------*/
.option1-buttons,
.option2-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* Option Block Background Designs
-------------------------------------------*/
.option1 {
  /* Design */
  background-image: linear-gradient(rgba(0, 216, 216, 0.85) 1%, rgba(1, 57, 59, 0.45) 35%), url(../images/new-site-option.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.option2 {
  /* Design */
  background-image: linear-gradient(rgba(255, 142, 142, 0.95) 1%, rgba(87, 35, 35, 0.25) 35%), url(../images/upgrade-site-option.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 142, 142, 0.95);
}

/* Portfolio Link Design
-------------------------------------------*/
.option-footer {
  /* Layout */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4rem;
}

.portfolio-link {
  /* Typography */
  font-size: 3.6rem;
  /* Link Design */
}
.portfolio-link a {
  cursor: pointer;
  font-weight: 900;
}

/* Return Button (Post-UserChoice Render)
-------------------------------------------*/
.return-btn {
  /* Layout */
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: right;
  margin-top: -6rem;
  padding-right: 7rem;
}
.return-btn button:hover {
  /* Typography */
  color: #ff8e8e;
  /* Design */
  border-color: #00d8d8;
}

@media all and (max-width: 1550px) {
  .subheader {
    width: 100rem;
  }
  .subheader .option1,
.subheader .option2 {
    /* Layout */
    height: 38rem;
  }
  .subheader .option1 a,
.subheader .option1 button,
.subheader .option2 a,
.subheader .option2 button {
    font-size: 1.6rem;
  }
  .subheader h2 {
    font-size: 5rem;
  }
  .subheader h4 {
    font-size: 3.6rem;
  }
  .subheader p {
    font-size: 2rem;
  }
}
@media all and (max-width: 1150px) {
  .subheader {
    width: 85rem;
  }
  .subheader .subheader-optionblock {
    grid-gap: 3rem 5rem;
  }
  .subheader .option1,
.subheader .option2 {
    /* Layout */
    height: 28rem;
    grid-gap: 0;
  }
  .subheader .option1 a,
.subheader .option1 button,
.subheader .option2 a,
.subheader .option2 button {
    font-size: 1.4rem;
  }
  .subheader h2 {
    font-size: 4.2rem;
  }
  .subheader h4 {
    font-size: 3.2rem;
  }
  .subheader p {
    padding: 1rem 3rem;
    font-size: 1.6rem;
  }
  .portfolio-link {
    /* Typography */
    font-size: 3rem;
  }
  .option-footer {
    margin-top: 2rem;
  }
}
@media all and (max-width: 950px) {
  .subheader {
    width: 65rem;
  }
  .subheader .subheader-optionblock {
    width: 40rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4rem;
  }
  .subheader .option1,
.subheader .option2 {
    /* Layout */
    height: 28rem;
    grid-gap: 0;
  }
  .subheader .option1 a,
.subheader .option1 button,
.subheader .option2 a,
.subheader .option2 button {
    font-size: 1.2rem;
  }
  .subheader h2 {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .subheader h4 {
    font-size: 3rem;
  }
  .subheader p {
    padding: 2rem 1rem;
    font-size: 1.6rem;
  }
  .portfolio-link {
    /* Typography */
    font-size: 3rem;
  }
  .return-btn {
    margin-top: -4rem;
    padding-right: 2rem;
  }
  .return-btn button {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 700px) {
  .subheader {
    width: 50rem;
    margin: 0 auto;
  }
  .subheader h2 {
    font-size: 2.8rem;
  }
  .subheader .portfolio-link {
    font-size: 2.8rem;
  }
}
@media all and (max-width: 575px) {
  .subheader {
    width: 30rem;
  }
  .subheader h2 {
    font-size: 2.4rem;
    margin-bottom: 0;
  }
  .subheader .portfolio-link {
    font-size: 2.4rem;
    margin-top: -12rem;
  }
  .subheader .subheader-optionblock {
    gap: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .subheader .option1,
.subheader .option2 {
    scale: 0.8;
  }
  .subheader .option2 {
    margin-top: -4rem;
  }
}
.openingcall {
  /* Layout */
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.openingcall h2 {
  /* Layout */
  margin-bottom: 1rem;
  /* Typography */
  color: white;
  font-family: "Fredoka", sans-serif;
  font-size: 6rem;
  line-height: 1;
}

.blurb {
  /* Layout */
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* Typography */
  color: white;
  font-size: 2.4rem;
  font-family: "Fredoka", sans-serif;
  line-height: 1.6;
  /* Design */
  background-color: black;
}
.blurb p {
  /* Typography */
  font-weight: 100;
  line-height: 2;
}
.blurb p::first-letter {
  /* Large First Letter */
  font-size: 4rem;
  /* Fix Spacing from Larger Font */
  line-height: 0;
  letter-spacing: -0.75rem;
  margin-left: -0.8rem;
}

.blurb-grid {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 2rem;
  /* Typography */
  line-height: 2;
}

.designer-graphic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.designer-graphic img {
  aspect-ratio: 17 12;
  width: 100%;
}

@media all and (max-width: 1050px) {
  .openingcall {
    width: 80%;
  }
  .openingcall h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
  .openingcall p {
    /* Typography */
    width: 100%;
  }
  .blurb {
    /* Layout */
    grid-template-columns: 1fr;
    grid-gap: 0;
    width: 100%;
    margin-bottom: 3rem;
    /* Typography */
    font-size: 1.8rem;
    line-height: 1.6;
  }
  .blurb-grid {
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 0rem;
    padding-bottom: 3rem;
    /* Typography */
    line-height: 2;
  }
  .designer-graphic img {
    width: 300px;
  }
}
@media all and (max-width: 750px) {
  .openingcall {
    width: 80%;
  }
  .openingcall h2 {
    font-size: 3.8rem;
    margin-bottom: 4rem;
  }
  .blurb-grid {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .designer-graphic img {
    width: 500px;
  }
}
@media all and (max-width: 450px) {
  .designer-graphic img {
    width: 350px;
  }
}
@media all and (max-width: 350px) {
  .openingcall {
    width: 90%;
  }
  .openingcall h2 {
    font-size: 2.4rem;
    margin-top: 2rem;
  }
  .openingcall p {
    /* Typography */
    font-size: 1.6rem;
    line-height: 1.6;
  }
  .blurb-grid {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
    padding-bottom: 3rem;
    /* Typography */
    line-height: 2;
  }
  .designer-graphic img {
    width: 300px;
  }
}
.upgrade-openingcall {
  /* Layout */
  width: 110rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10rem;
}
.upgrade-openingcall h2 {
  /* Layout */
  margin-bottom: 2rem;
  /* Typography */
  color: white;
  font-family: "Fredoka", sans-serif;
  font-size: 4.8rem;
  line-height: 1;
}

.upgrade-infoblock {
  /* Layout */
  display: flex;
  flex-direction: column;
  /* Typography */
  color: white;
  font-family: "Fredoka", sans-serif;
}
.upgrade-infoblock h4 {
  /* Layout */
  margin: 2rem auto 2rem;
  /* Typography */
  color: #ff8e8e;
  font-size: 4rem;
  font-style: italic;
}
.upgrade-infoblock .trial-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.upgrade-infoblock .trial-section-image {
  margin: 4rem 0;
  height: 40rem;
}
.upgrade-infoblock .trial-section-image:nth-of-type(2) {
  margin-left: -8rem;
  margin-top: 8rem;
}
.upgrade-infoblock dl {
  /* Layout */
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  grid-gap: 4rem 1rem;
  padding: 4rem 0;
  /* Design */
  border-top: 2px solid #00d8d8;
  border-bottom: 2px solid #00d8d8;
}
.upgrade-infoblock dl > * {
  padding: 1rem 0;
}
.upgrade-infoblock .deflist-icons {
  height: 12rem;
  width: auto;
  margin: auto auto;
}
.upgrade-infoblock .deflist-icons:nth-of-type(2) {
  height: 10rem;
}
.upgrade-infoblock .deflist-icons:last-of-type {
  height: 10rem;
}
.upgrade-infoblock dt {
  /* Layout */
  padding-bottom: 2rem;
  padding-left: 2rem;
  /* Typography */
  font-size: 2.6rem;
  color: rgb(74, 195, 211);
  /* Design */
  border-left: 2px solid rgb(236, 130, 130);
}
.upgrade-infoblock dd {
  /* Layout */
  padding-top: 2rem;
  /* Typography */
  font-size: 2.2rem;
  line-height: 1.6;
}

.upgrade-secondary {
  /* Layout */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  /* Layout */
  font-family: Fredoka, serif;
  /* Design */
  background: transparent;
}
.upgrade-secondary h3 {
  /* Typography */
  color: #ff8e8e;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.upgrade-secondary .upgrade-secondary-imgblock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}
.upgrade-secondary .webdesign-plan-img {
  max-width: 100%;
  height: 280px;
  max-height: 35rem;
  margin: 2rem auto;
  /* Design */
  border-radius: 15px;
}
.upgrade-secondary p {
  /* Typography */
  color: #00d8d8;
  font-size: 2.2rem;
  line-height: 2;
}
.upgrade-secondary p:first-of-type {
  /* Layout */
  margin-bottom: 2rem;
}

@media all and (max-width: 1150px) {
  .upgrade-openingcall {
    width: 700px;
  }
  .upgrade-openingcall dl {
    width: 90%;
    margin: 0 auto;
  }
  .upgrade-secondary {
    width: 700px;
  }
}
@media all and (max-width: 915px) {
  .upgrade-openingcall {
    width: 600px;
  }
  .upgrade-openingcall h2 {
    width: 100%;
    font-size: 3.8rem;
  }
  .upgrade-openingcall dl {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .upgrade-openingcall dl dt {
    font-size: 2rem;
  }
  .upgrade-openingcall dl dd {
    padding-top: 3rem;
    font-size: 1.8rem;
    line-height: 1.4;
  }
  .upgrade-openingcall .trial-section-image {
    margin: 4rem 0;
    height: 30rem;
  }
  .upgrade-openingcall .trial-section-image:nth-of-type(2) {
    margin-left: -6rem;
  }
  .upgrade-secondary {
    width: 500px;
  }
  .upgrade-secondary h3 {
    font-size: 3rem;
  }
  .upgrade-secondary p {
    font-size: 1.8rem;
    line-height: 1.4;
  }
}
@media all and (max-width: 660px) {
  .upgrade-openingcall {
    width: 500px;
  }
  .upgrade-openingcall h2 {
    font-size: 3.2rem;
  }
  .upgrade-openingcall dl {
    /* Layout */
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 1rem 1rem;
  }
  .upgrade-openingcall dl img {
    display: none;
  }
  .upgrade-openingcall .trial-section-image {
    margin: 4rem 0;
    height: 24rem;
  }
  .upgrade-openingcall .trial-section-image:nth-of-type(2) {
    margin-left: -4rem;
  }
  .upgrade-secondary {
    width: 500px;
  }
}
@media all and (max-width: 520px) {
  .upgrade-openingcall {
    width: 350px;
  }
  .upgrade-openingcall h2 {
    font-size: 3.2rem;
  }
  .upgrade-openingcall h4 {
    font-size: 2.8rem;
  }
  .upgrade-openingcall dl {
    width: 300px;
  }
  .upgrade-openingcall dl dt {
    font-size: 1.8rem;
  }
  .upgrade-openingcall dl dd {
    padding-top: 5rem;
    margin-left: -10rem;
  }
  .upgrade-openingcall .trial-section-image {
    margin: 4rem 0;
    height: 24rem;
  }
  .upgrade-openingcall .trial-section-image:nth-of-type(2) {
    margin-left: -4rem;
  }
  .upgrade-secondary {
    width: 350px;
  }
  .upgrade-secondary .upgrade-secondary-imgblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 420px) {
  .upgrade-openingcall {
    width: 350px;
    text-align: center;
  }
  .upgrade-openingcall h2 {
    font-size: 2.6rem;
  }
  .upgrade-openingcall h4 {
    font-size: 2.8rem;
  }
  .upgrade-openingcall dl {
    width: 300px;
    padding: 2rem 0;
  }
  .upgrade-openingcall dl dt {
    text-align: left;
    font-size: 1.8rem;
    border-left: none;
    padding-left: 0;
  }
  .upgrade-openingcall dl dd {
    text-align: left;
    padding-top: 5rem;
    margin-left: -12rem;
  }
  .upgrade-openingcall .trial-section-image {
    margin: 4rem 0;
    height: 15rem;
  }
  .upgrade-openingcall .trial-section-image:nth-of-type(2) {
    margin-left: -2rem;
  }
  img.main-background-1 {
    margin-left: -2rem;
  }
  .upgrade-secondary {
    width: 100%;
    padding: 0 0.5rem;
  }
  .upgrade-secondary p {
    font-size: 1.6rem;
  }
  .upgrade-secondary .upgrade-secondary-imgblock img {
    height: 15rem;
  }
}
@media all and (max-width: 350px) {
  .upgrade-openingcall {
    width: 250px;
    text-align: center;
  }
  .upgrade-openingcall h2 {
    font-size: 2.6rem;
  }
  .upgrade-openingcall h4 {
    font-size: 2.4rem;
  }
  .upgrade-openingcall dl {
    width: 240px;
    padding: 0.5rem 0;
  }
  .upgrade-openingcall dl dt {
    text-align: left;
    font-size: 1.8rem;
    border-left: none;
    padding-left: 0;
  }
  .upgrade-openingcall dl dd {
    text-align: left;
    padding-top: 5rem;
    margin-left: -12rem;
  }
  .upgrade-openingcall .trial-section-image {
    margin: 4rem 0;
    height: 10rem;
  }
  .upgrade-openingcall .trial-section-image:nth-of-type(2) {
    margin-left: -1rem;
    margin-top: 4rem;
  }
}
.backdrop {
  /* Layout */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Design */
  background: rgba(0, 0, 0, 0.6);
}

.btn-block {
  /* Layout */
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: -2rem 0 2rem;
}

.close-btn {
  /* Typography */
  color: white;
  font-size: 1.4rem;
}
.close-btn:hover {
  /* Typography */
  color: #ff8e8e;
  /* Design */
  border-color: #00d8d8;
}

.contact-popup {
  /* Layout */
  width: 800px;
  height: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 4rem 6rem;
  /* Design */
  border: 2px solid #00d8d8;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  /* Typography */
  font-family: "Fredoka", sans-serif;
  line-height: 1.5;
  /* Form Grid Settings 
  ----------------------*/
  /*-------------------*/
  /* Form Row 2
  ----------------------------------------------------*/
  /* Form Row 3
  ----------------------------------------------------*/
  /* Form Row 4
  ----------------------------------------------------*/
}
.contact-popup p {
  /* Layout */
  margin-bottom: 4rem;
  /* Typography */
  color: #ff8e8e;
  font-size: 2.2rem;
}
.contact-popup .radio-input-block1 {
  /* Row 2 */
  grid-area: radio1;
}
.contact-popup .text-description-block {
  /* Row 3 */
  grid-area: text2;
}
.contact-popup .submit-btn {
  /* Row 4 */
  grid-area: submit;
}
.contact-popup form {
  /* Layout */
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-areas: ". . ." "radio1 radio1 radio1" "text2 text2 text2" "submit submit submit";
  grid-gap: 4rem 3rem;
}
.contact-popup .input-block {
  display: flex;
  flex-direction: column;
}
.contact-popup h3 {
  /* Typography */
  color: #00d8d8;
  font-size: 1.8rem;
}
.contact-popup .radio-input-block1 h3 {
  margin-bottom: 1rem;
}
.contact-popup label {
  /* Typography */
  color: #ff8e8e;
  font-size: 1.6rem;
}
.contact-popup span {
  /* Typography */
  color: #00d8d8;
  font-size: 1.6rem;
  padding-bottom: 0.5vw;
}
.contact-popup input {
  /* Layout */
  padding: 0.8rem 0 0.8rem 0.4rem;
  /* Typography */
  color: #fdff81;
  /* Design */
  background-color: black;
  border: 2px solid #ff8e8e;
}
.contact-popup input[type=text] {
  width: 100%;
}
.contact-popup input::-moz-placeholder {
  color: rgb(138, 138, 138);
}
.contact-popup input:-ms-input-placeholder {
  color: rgb(138, 138, 138);
}
.contact-popup input::placeholder {
  color: rgb(138, 138, 138);
}
.contact-popup .radio-input-block1 {
  /* Layout */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-popup .radio-section1 {
  /* Layout */
  display: flex;
  flex-direction: row;
}
.contact-popup .radio-block {
  /* Layout */
  margin: 0.3rem 2rem 0;
  /* Checked Option Color */
}
.contact-popup .radio-block input:checked ~ label {
  color: #fdff81;
  font-weight: 400;
}
.contact-popup .text-description {
  /* Layout */
  height: 8rem;
  max-height: 15rem;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  /* Layout */
  padding: 0.5vw 0 0.5vw 0.25vw;
  /* Typography */
  color: #fdff81;
  /* Design */
  background-color: black;
  border: 2px solid #ff8e8e;
}
.contact-popup .text-description::-moz-placeholder {
  color: rgb(138, 138, 138);
}
.contact-popup .text-description:-ms-input-placeholder {
  color: rgb(138, 138, 138);
}
.contact-popup .text-description::placeholder {
  color: rgb(138, 138, 138);
}
.contact-popup .submit-btn {
  /* Layout */
  margin: auto auto 2rem;
  /* Typography */
  color: white;
  font-size: 1.4rem;
}
.contact-popup .submit-btn:hover {
  /* Typography */
  color: #ff8e8e;
  /* Design */
  border-color: #00d8d8;
}

@media all and (max-width: 900px) {
  .contact-popup {
    width: 600px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .contact-popup p {
    max-width: 90%;
  }
}
.background-block {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.main-background-1 {
  position: relative;
  width: 100vw;
  min-width: 1365px;
  height: auto;
  /* Animation Triggering Fix */
  margin-top: -8vw;
  padding-top: 5vw;
}

.main-background-2 {
  width: 100vw;
  min-width: 1365px;
  height: auto;
}

.ghost-three {
  position: fixed;
  width: 100vw;
  min-width: 1365px;
  height: auto;
  top: max(750px, 65vw);
  transform: rotate(5deg);
}

@media all and (min-width: 1550px) {
  .main-background-2 {
    top: 85vw;
  }
}
@media all and (max-width: 1365px) {
  .main-background-1,
.main-background-2 {
    transform: translateX(calc(-20% + 20vw));
    min-width: 800px !important;
  }
}
@media all and (max-width: 780px) {
  .main-background-1,
.main-background-2 {
    transform: translateX(calc(-25% + 20vw));
    min-width: 800px !important;
  }
}
@media all and (max-width: 600px) {
  .main-background-1,
.main-background-2 {
    transform: translateX(calc(-42% + 20vw));
    min-width: 800px !important;
  }
}
@media all and (max-width: 450px) {
  .main-background-1,
.main-background-2 {
    transform: translateX(calc(-50% + 20vw));
    min-width: 800px !important;
  }
}
.portfolio {
  width: 65%;
  margin: 0 auto;
}

/* Portfolio Header Styles
-------------------------------------------*/
.portfolio-header {
  /* Layout */
  position: relative;
  z-index: 502;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  /* Design */
  border-bottom: 2px solid #00d8d8;
}
.portfolio-header .portfolio-title {
  /* Typography */
  color: #ff8e8e;
  font-size: 4rem;
  font-family: Fredoka, serif;
}
.portfolio-header span {
  /* Typography */
  color: #ff8e8e;
  font-size: 2rem;
  font-family: Fredoka, serif;
}

@media all and (max-width: 1400px) {
  .portfolio {
    width: 80%;
  }
}
@media all and (max-width: 1150px) {
  .portfolio {
    width: 88%;
  }
}
@media all and (max-width: 600px) {
  .portfolio div.title-container {
    bottom: 0rem;
    padding: 1rem 2rem 1rem;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .portfolio .card {
    height: 300px !important;
    margin-bottom: 2rem;
  }
  .portfolio div.card-image-container {
    height: 280px;
    width: 100%;
  }
  .portfolio-header .portfolio-title {
    /* Typography */
    font-size: 2rem;
  }
  .portfolio-header span {
    /* Typography */
    font-size: 1.4rem;
  }
}
@media all and (max-width: 450px) {
  .portfolio .card {
    height: 300px !important;
  }
  .portfolio div.title-container {
    bottom: 0rem;
  }
}
@media all and (max-width: 380px) {
  .portfolio-header .portfolio-title {
    /* Typography */
    font-size: 1.6rem;
  }
  .portfolio-header span {
    /* Typography */
    font-size: 1.2rem;
  }
}
.portfolio .screen {
  width: 100%;
  height: 100%;
}
.portfolio .container {
  max-width: 990px;
  flex: 1 1 100%;
  padding: 45px 25px;
}
.portfolio ul,
.portfolio li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio .card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.portfolio .card {
  position: relative;
  padding: 25px;
  height: 500px;
  flex: 0 0 40%;
  max-width: 40%;
}
.portfolio .demolink {
  text-decoration: none;
}
.portfolio .card:nth-child(4n+1),
.portfolio .card:nth-child(4n+4) {
  flex: 0 0 60%;
  max-width: 60%;
}
.portfolio .card:nth-child(odd) {
  padding-left: 0;
}
.portfolio .card:nth-child(even) {
  padding-right: 0;
}
.portfolio .card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}
.portfolio .card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: #000000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.portfolio .card-image-container {
  border-radius: 20px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 420px;
  width: 100%;
}
.portfolio .card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .title-container {
  /* Fix to Bottom */
  position: absolute;
  bottom: 2.8rem;
  /* Layout */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1vw 0;
  padding-left: 1vw;
  /* Design */
  background: rgba(0, 0, 0, 0.8) 99%;
  border-right: 2px solid rgba(0, 216, 216, 0.8);
  border-bottom: 3px solid rgba(0, 216, 216, 0.8);
  border-left: 2px solid rgba(0, 216, 216, 0.8);
  border-radius: 0 0 20px 20px;
}
.portfolio .title-container h2 {
  color: #ff8e8e;
  font-size: 1.6rem;
  font-family: Fredoka, serif;
  margin: 8px 0;
}
.portfolio .title-container span {
  color: #00d8d8;
  font-size: 2rem;
  font-family: Fredoka, serif;
}
.portfolio .category {
  text-transform: uppercase;
}
@media all and (max-width: 800px) {
  .portfolio .card {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .portfolio .card:nth-child(4n+1),
.portfolio .card:nth-child(4n+4) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media all and (max-width: 600px) {
  .portfolio .card {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio .card:nth-child(4n+1),
.portfolio .card:nth-child(4n+4) {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
.portfolio .card-list__focus-curtain {
  background-color: #000;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 2;
}
.portfolio .card-list-panel:hover {
  z-index: 501;
  transform: scale(1.1);
}
.portfolio .card-list-panel--focus {
  position: relative;
}
.portfolio .card-list-panel--focus:hover ~ .card-list__focus-curtain {
  opacity: 0.8;
  z-index: 500;
}
@media all and (min-width: 768px) {
  .portfolio .card-list-panel {
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
}
@media all and (min-width: 768px) {
  .portfolio .card-list {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media all and (min-width: 992px) {
  .portfolio .card-list {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media all and (min-width: 1500px) {
  .portfolio .card-list {
    -moz-column-count: 4;
         column-count: 4;
  }
}

.production-timeline {
  /* Layout */
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* Timeline Card Styles 
  ------------------------*/
  /* Quote Link */
}
.production-timeline * {
  /* General Typography */
  font-family: Fredoka, serif;
  line-height: 2;
}
.production-timeline h2 {
  /* Typography */
  color: #00d8d8;
  font-size: 4rem;
  padding-bottom: 1rem;
  /* Design */
  border-bottom: 2px solid #ff8e8e;
}
.production-timeline p {
  /* Layout */
  display: block;
  max-width: 95%;
  margin: 0 auto;
  padding-left: 2rem;
  text-align: left;
  /* Typography */
  font-size: 1.8rem;
  line-height: 1.5;
  /* Split Paragraph Blocks */
}
.production-timeline p:first-of-type {
  margin-bottom: 1.5rem;
}
.production-timeline .timeline-block-header {
  /* Layout  */
  margin: 0 auto 2rem;
  /* Typography */
  color: #ff8e8e;
  font-size: 3rem;
  line-height: 1;
}
.production-timeline .timeline-block-subheader {
  font-size: 2.2rem;
}
.production-timeline .timeline-block-list {
  font-size: 1.8rem;
}
.production-timeline .timeline-block-list li {
  /* Layout */
  margin-left: 1rem;
  /* Design */
  list-style: inside;
}
.production-timeline .sample-quote {
  /* Layout */
  display: block;
  margin: 2rem auto 0;
  /* Typography */
  color: #fdff81 !important;
  font-size: 1.6rem;
}
.production-timeline .code-img {
  /* Layout */
  max-width: 100%;
  width: 350px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto 2rem;
  /* Design */
  border: 1px solid white;
  border-radius: 20px !important;
}

/* Custom Timeline Styles
    Class Names Provided in react-timeline Package
-----------------------------------------------------*/
.timeline {
  /* Layout */
  width: 100%;
}
.timeline .container {
  /* Layout */
  width: 100%;
  padding: 0;
  margin-bottom: 6rem;
  /* Design */
  border-bottom: 2px solid #ff8e8e;
  /* Layout */
}
.timeline .container .events {
  padding: 5rem 0;
}
.timeline .card {
  /* Layout */
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  /* Card Padding Fix (important overwrite)
  -------------------------------------------*/
  padding: 4rem 2rem !important;
  background-color: rgb(1, 51, 58) !important;
  border: 2px ridge #ff8e8e;
}
.timeline .date-container {
  /* Fix for Default Spacing (important overwrite)
  -------------------------------------------*/
  height: 0;
  margin-bottom: 0 !important;
}
.timeline .date-container .date {
  /* Layout */
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  /* Typography */
  color: #ff8e8e;
  font-size: 1.6rem;
  /* Design */
  background-color: black;
  border: 2px solid #00d8d8;
}
.timeline span.marker {
  background-color: #ff8e8e;
  border: solid 2px #00d8d8;
}
.timeline .container {
  background-color: transparent;
}
.timeline .container::after {
  background-color: #00d8d8;
}

@media all and (max-width: 1100px) {
  .production-timeline {
    width: 800px;
  }
  .production-timeline .timeline-block-header {
    font-size: 2.5rem;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
  }
  .production-timeline p {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
@media all and (max-width: 850px) {
  .production-timeline {
    width: 700px;
  }
  .production-timeline div.card {
    max-width: 90%;
    margin-left: 2rem;
  }
  .production-timeline .timeline-block-header {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .production-timeline h5.timeline-block-subheader {
    font-size: 1.8rem;
  }
  .production-timeline li,
.production-timeline p {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 770px) {
  .production-timeline div.card {
    max-width: 80%;
    margin-left: 2rem;
  }
  .production-timeline p {
    margin-left: 0;
  }
  span.marker {
    margin-right: -20px;
  }
}
@media all and (max-width: 650px) {
  .date {
    font-size: 1rem !important;
  }
  .production-timeline {
    width: 500px;
  }
  .production-timeline h2 {
    font-size: 3rem;
  }
  .production-timeline div.card {
    max-width: 80%;
    margin-left: 2rem;
  }
  .production-timeline .timeline-block-header {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .production-timeline h5.timeline-block-subheader {
    font-size: 1.6rem;
  }
  .production-timeline li,
.production-timeline p {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 535px) {
  .production-timeline {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 400px;
  }
  .production-timeline .code-img {
    /* Layout */
    height: 200px;
  }
}
@media all and (max-width: 400px) {
  .production-timeline {
    width: 350px;
  }
  .production-timeline .card {
    max-width: 98%;
  }
}
@media all and (max-width: 330px) {
  .production-timeline {
    width: 270px;
  }
  .production-timeline h2 {
    font-size: 2rem;
  }
  .production-timeline h3.timeline-block-header {
    margin-top: 5rem;
  }
  .production-timeline .card {
    max-width: 100%;
  }
  .production-timeline .card p,
.production-timeline .card li {
    margin-left: 0;
    padding-left: 0;
  }
}
footer {
  /* Layout */
  height: 20rem;
  max-width: 100%;
  margin: 10rem 5rem;
  padding: 0 5rem;
  /* General Typography */
  color: white;
}

/* Upper Footer
------------------------------------------------------*/
.upper-footer {
  /* Main Grid Layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "sitemap companytitle" "connect companyinfo";
  grid-gap: 2.5rem 0;
  justify-content: space-between;
  /* Layout */
  padding: 2.5rem 0;
  /* Design */
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  /* Typography */
  font-family: "Fredoka", sans-serif;
  color: white;
  /* Logo Typography */
  /* Four Main Grid Sections 
  -------------------------*/
}
.upper-footer h4 {
  /* Layout */
  margin-bottom: 0;
  /* Typography */
  font-size: 3.5rem;
}
.upper-footer .company-title,
.upper-footer .company-info {
  /* Right Section Typography */
  text-align: right;
  line-height: 1.3;
}
.upper-footer .company-title {
  /* Grid Area Label*/
  grid-area: companytitle;
}
.upper-footer .company-info {
  /* Grid Area Label*/
  grid-area: companyinfo;
}
.upper-footer .sitemap {
  /* Grid Area Label*/
  grid-area: sitemap;
  /* Upper Left Subgrid Layout */
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-gap: 1rem;
}
.upper-footer .sitemap span {
  /* Typography */
  font-size: 2rem;
}
.upper-footer .sitemap .footer-nav {
  /* Layout */
  display: flex;
  flex-direction: row;
  /* Layout */
}
.upper-footer .sitemap .footer-nav .footer-nav-link {
  /* Layout */
  margin: 0 1rem;
  /* Typography */
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.upper-footer .sitemap .footer-nav .footer-nav-link:hover {
  /* Typography */
  color: #fdff81;
}
.upper-footer .sitemap .footer-nav > li:first-of-type a {
  margin-left: 0;
}
.upper-footer .connect {
  /* Grid Area Label*/
  grid-area: connect;
  /* Lower Left Subgrid Layout */
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-gap: 1rem;
}
.upper-footer .connect .nav-row2 {
  /* Layout */
  margin-top: 0;
}
.upper-footer .connect .nav-row2 a {
  /* Typography */
  font-size: 3rem;
}

/* Lower Footer
------------------------------------------------------*/
.lower-footer {
  /*Layout*/
  margin: 0 auto;
  padding: 2rem 0 2rem;
  /* Design */
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  /* Typography */
  font-family: "Fredoka", sans-serif;
  color: white;
}
.lower-footer span {
  font-size: 1.6rem;
}

.blockspan {
  display: block;
  font-size: 2rem;
}

.lightgrey {
  color: grey;
}

.candyBlue {
  color: #00d8d8;
}

.highlighterYellow {
  color: rgba(253, 255, 129, 0.8);
}

.lightgrey {
  color: rgb(170, 170, 170);
}

.candyRed {
  color: #ff8e8e;
}

.flex-span {
  margin: 0;
  display: flex;
}

@media all and (max-width: 1150px) {
  footer {
    margin: 5rem 0;
  }
}
@media all and (max-width: 950px) {
  .upper-footer h4 {
    font-size: 2.4rem;
  }
  .upper-footer .blockspan {
    font-size: 1.6rem;
  }
  .upper-footer .sitemap .footer-nav .footer-nav-link {
    font-size: 1.6rem;
  }
  .upper-footer .connect .nav-row2 a {
    font-size: 2.6rem;
  }
  .lower-footer span {
    font-size: 1rem;
  }
}
@media all and (max-width: 700px) {
  footer {
    margin: 5rem auto 0;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media all and (max-width: 625px) {
  .upper-footer {
    grid-template-rows: 1fr 0.5fr;
    gap: 0;
  }
  .upper-footer > * {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .upper-footer .company-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 10rem;
  }
  .upper-footer .company-info .blockspan:last-of-type {
    font-size: 1.2rem;
  }
  .upper-footer .connect {
    grid-template-rows: repeat(auto, 2);
  }
  .upper-footer .connect h4 {
    line-height: 1;
    padding-bottom: 0.5rem;
  }
  .upper-footer .sitemap {
    gap: 0;
  }
  .upper-footer .sitemap h4 {
    padding-bottom: 0.5rem;
  }
  .upper-footer .sitemap .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 4rem;
  }
  .upper-footer .sitemap .footer-nav .footer-nav-link {
    display: inline-block;
    margin: 0 0 1rem 0;
  }
  .upper-footer .sitemap .footer-nav li:last-of-type .footer-nav-link {
    margin-bottom: 0;
  }
  .upper-footer .sitemap .footer-nav .point-separator {
    display: none;
  }
}
@media all and (max-width: 500px) {
  .upper-footer .blockspan:last-of-type {
    display: none;
  }
}
@media all and (max-width: 455px) {
  .upper-footer {
    /* Main Grid Layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "companytitle" "connect";
    grid-gap: 1rem 0;
    align-items: center;
    padding: 1.2rem 0 2rem;
  }
  .upper-footer .sitemap,
.upper-footer .company-info {
    display: none;
  }
  .upper-footer .connect,
.upper-footer .company-title {
    margin: 0 auto;
    text-align: center;
  }
  .upper-footer .connect {
    gap: 0;
  }
  .upper-footer .connect h4 {
    font-size: 2rem;
  }
  .upper-footer .connect .nav-row2 li a {
    font-size: 1.8rem;
  }
  .upper-footer .company-title h4 {
    font-size: 2rem;
  }
  .upper-footer .company-title > span:first-of-type {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=globals.css.map */